@import './_fonts.scss';
@import './_variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans';
    font-weight: 500;
    color: $light-colors-black;
    
}
img{
    width: 100%;
    height: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: $light-colors-black;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
input{
    all: unset;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 10px;
    margin-bottom: 37px;
}
svg{
    font-size: 16px;
}

@import './header/header';