.backdrop{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
    // background-color: red;
}
.wrapper-cart{
    height: 100vh;
    width: 100%;
    max-width: 360px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
.preview-cart{
    height: 100vh;
    width: 100%;
    max-width: 360px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    padding-top: 70px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: $light-colors-white;
    border-left: 1px solid $ligth-colors-light-gray;
    display: grid;
    grid-template-rows: auto 1fr auto;
    h3{
        font-weight: 500;
        margin-bottom: 17px;
    }
}
.preview-cart-list{
    margin-bottom: 35px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .order-products__item{
        display: flex;
        padding: 24px 0;
        &:last-child{
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    .products-item__img{
        margin: 0;
        width: 100%;
        height: 100vh;
        max-width: 136px;
        max-height: 136px;
        margin-right: 12px;
    }
    .products-item__info__title{
        display: flex;
        flex-direction: column;
        .products-item__info__title__cnt{
            margin-top: auto;
            .btn-counter{
                display: flex;
                align-self: flex-end;
                background: none;
            }
        }
    }
    .products-item__info__title__cnt{
        margin-top: auto;
    }
    .products-item__info__count{
        display: none;
    }
    .products-item__btn_delete{
        .tool-bar__icons{
            margin-left: 12px;
        }
    }
}
.preview-footer{
    border-top: 1px solid $light-colors-dark-gray;
}
.preview-footer-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-close{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    svg{
        font-size: 25px;
    }
}

@media (max-width:565px){
    .preview-cart{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
    }
}