.container-product{
    padding-top: 120px;
    display: flex;
    margin-bottom: 120px;
    position: relative;
}
.product-info{
    padding-left: 60px;
    width: 100%;
}
.product-info__title{
    font-size: calcFontSize(20px, 6);
    font-weight: 400;
    line-height: 35px;
    color: $light-colors-black;
    margin-bottom: 23px;
}
.product-info__price{
    font-size: calcFontSize(16px, 4);
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
    color: $light-colors-accent;
    margin-bottom: 50px;
}
.product-info__rating{
    color: $light-colors-black;
    font-size: 20px;
    margin-bottom: 22px;
}
.product-info__text{
    font-size: calcFontSize(12px, 4);
    font-weight: 400;
    line-height: 27px;
    color: $light-colors-dark-gray;
    margin-bottom: 48px;
}
.container-product-description{
    margin-bottom: 250px;
}
.container-description{
    font-size: calcFontSize(14px, 6);
    font-weight: 400;
    line-height: 26px;
    border-bottom: 1px solid $light-colors-gray;
    display: flex;
}
.description-title{
   width: max-content;
   position: relative;
   color: $light-colors-dark-gray;
   margin-right: 90px;
   padding-bottom: 35px;
   cursor: pointer;
}
.active-desctiption{
    color: $light-colors-black;
    &:after{
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        background: $light-colors-black;
        position: absolute;
        bottom: -1px;
    }
}
.description-text{
    padding-top: 35px;
    font-weight: 400;
    line-height: 27px;
    color: $light-colors-dark-gray;
    overflow: hidden;
}
.btns-add{
    display: flex;
    .btn-counter{
        margin-right: 25px;
    }
}

@media (max-width: 855px){
    .container-product{
        flex-direction: column;
        gap: 20px;
    }
    .product-info{
        padding-left: 0px;
    }
    .product-info__title{
        margin-bottom: 15px;
    }
    .product-info__price{
        margin-bottom: 30px;
    }
}
@media(max-width: 768px) {
    .container-product{
        padding-top: 60px;
    }
}
@media(max-width: 565px){
    .container-product{
        padding-top: 0px;
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 30px;
    }
    .container-product-description{
        margin-bottom: 150px;
    }
    .product-info{
        padding: 0;
    }
    .product-info__title{
        margin-bottom: 10px;
        line-height: 26px;
    }
    .product-info__rating{
        display: none;
    }
    .product-info__price{
        margin-bottom: 25px;
    }
    .product-info__text{
        display: none;
    }
    .btns-add{
        .btn-counter{
            display: none;
        }
    }
    .products-item__info{
        .btn-counter{
            display: none;
        }
    }
}